.flex-item {
    color: crimson;
    font-family: 'lato', 'sans-sherif';
    padding: 10px;
    margin: 3px;
    background-color: pink;
    flex-basis: 30%;
}
.flex-item:nth-last-of-type(odd){
    background-color: lightyellow;
    overflow: hidden;
}
.container{
    border: 2px dashed goldenrod;
    display: flex;
    height: 600px;
    flex-wrap: wrap;

}
.ordred-item{
    align-self: center;
}

/* jeden obiekt */ 