#p1{
    background-color: pink;
}

#p2{
background-color: lightcoral;
}

#inline-elements p{
    display: inline;
}

#inline-p1 {
    background-color: cadetblue;
}

#inline-p2{
    background-color: red;
}

#inline-block-elements li{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 5px;
    background-color: blueviolet;

}
#display-none{
    display: none;
}

