

*{
    box-sizing: border-box;  
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #007bff;
    margin: 0 auto;
    padding: 0;

}
hr {
    background-color:  #007bff;
    border: 0;
    height: 1px;
    width: 100px;
}

.button{
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid#007bff;
    margin: auto;
    display: inline-block;
    padding: 15px 20px;
    transition: all ls;
    color: #333;
    background-color: transparent;
}
section{
    text-align: center;
    padding: 120px 0;
}
 section header{
    margin-bottom: 75px;
 }
.button:hover{
    background-color: #007bff;
    color: #333;
}
h1, h2, .button,nav a, input[type="submit"]{
    text-transform: uppercase;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-content{
    padding-top: 100px;
}
.main-header h1{
    font-size: 4em;
    color:  #007bff;
        margin: 0;
}
h2{
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
    font-weight: 400;
}

footer{
    background-color: #007bff;
    padding: 0rem
}
.about {
    border-radius: 50%;
    max-width: 450px;
    max-height: 450px;

}
.about p{
    max-width: 750px;
    margin: 40px auto;
}
header p{
    color: #333;
    margin: 40px;
    font-size: 1.5em;
}

.main-nav{
    position: sticky;
    z-index: 100;
    background-color: #007bff;
    top: 0;
}
.nav-menu{
    top: 0;
    margin: 0;
    padding: 10px 0;
    text-align: center;
   

}
.nav-menu .nav-menu-item{
    display: inline-block;
    margin: 0 40px;
}
.nav-menu .nav-menu-item a{
    color: white;
    text-decoration: none;
}

.portfolio {
    background-color: #777;
}
.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item{
    flex-basis: 25%;
    height: 250px ;
    margin: 0;
    position: relative;
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}